*{
    font-family: "Geist", sans-serif;
}

@import "tailwindcss";

.active{
    background-color: #3B25C1;
    color: white;
}

.border-open{
    border-top: 5px solid #00A96E;
}
.border-close{
    border-top: 5px solid #A855F7;
}

.priority-high {
    background-color: #FEECEC;
    color: #EF4444;
}
.priority-medium {
    background-color: #FFF6D1;
    color: #F59E0B;
}
.priority-low {
    background-color: #EEEFF2;
    color:  #9CA3AF;
}